@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-Bold.woff2') format('woff2'),
        url('../fonts/Fraunces-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}







html{
    height: 100%;
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
    font-family: 'Barlow' , 'Arial' , 'sans serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    background-color: #FEFCF7;
    color: #000;
}
 
 img{
    max-width: 100%;
 }


 main{
     flex-grow: 1;
 }
 
 .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
 
.container {
    max-width: 100%;
    width: 1280px;
    margin: 0 auto;
    padding: 0;

}
.wrapper-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 23px;
    
}
.nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav__list-item:not(:last-child){
    margin-right: 32px;
}
.nav__list-item-link { 
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
}
.section-heading {
    background-image: url(../img/Bitmap.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 136px;
    padding-top: 117px;
    padding-bottom: 116px;
    padding-left: 86px;
   
}
.section-heading__content {
    width: 493px;
    color: #FEFCF7;
    margin:0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
}
.section-heading__item {
    width: 445px;
    color: #FEFCF7;
    opacity: 0.8;
    margin: 0;
    margin-bottom: 56px;
}
.section-heading__link {
    display: inline-block;
    padding: 16px 31px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #0E8784;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
}
.our-section {
    margin-bottom: 200px;
}
.our-section__heading {
    
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    text-align: center;
    background-image: linear-gradient(
        180deg, 
        rgba(254, 252, 247, 0.0001) 0%,
         #FEFCF7 100%);;
    color: #83888F;

}
.section-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: -155px;
    
}
.section-list__item {
    margin: 0 auto;
    text-align: center;
    width: 255px;
}
.section-list__item:not(:last-child){
    margin-right: 30px;
}
.section-list__heading {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;   
}
.section-list__text {
    margin: 0 ;
    font-family: 'Barlow';
    font-weight: 400;
}
.section-wrapper{
    position: relative ;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    padding-top: 100px;
    padding-bottom: 317px;
    text-align: center;
    background-color: #2C343E;
    border-radius: 10px;
    color: #FEFCF7; 
     
    

}
.section-wrapper__heading {
    margin: 0;
    margin-bottom: 32px;
}
.section-wrapper__text{
    display: inline-block;
    width: 540px;
    margin: 0;
    padding: 0;
   
}
.wrapper-list {
   position: absolute;
   z-index: 1;
   
   margin: 0 auto;
   padding: 0;
   display: flex;
   list-style: none;
    justify-content: center;
    bottom: -151px;
    
    
}
.wrapper-list__item {
    max-width: 100%;
    width: 350px;
    background-color: #0E8784;
    text-align: center;
    box-sizing: border-box;
    padding: 72px 48px 48px 48px;
}
.wrapper-list__item:not(:last-child){
    margin-right: 30px;

}
.wrapper-list__heading {
margin: 0;
margin-bottom: 24px;
}
.wrapper-list__heading::before{
    display: block;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 56px;
    content: '';
}
.wrapper-list__heading--best::before{
    background-image: url(../img/cofffe.svg);

}
.wrapper-list__heading--exclusive::before{
    background-image: url(../img/sovga.svg);
  
}
.wrapper-list__heading--free::before{
    background-image: url(../img/mashina.svg);

}
.wrapper-list__text {
margin: 0;
padding: 0;
}









.how-work {
    padding-top: 351px;
    padding-bottom: 200px;
    padding-left: 85px;
}
.how-work__heading {
    margin: 0;
  
font-family: 'Fraunces';
font-weight: 900;
font-size: 24px;
line-height: 32px;
color: #83888F;

  
}
.how-work__list {
    display: flex;
    margin: 0;
    margin-top: 170px;
    padding: 0;
    margin-bottom: 64px;
    list-style: none;
    counter-reset: item;
}
.how-work__item {
    max-width: 380px;
   
    position: relative;
    z-index: 1;
    counter-increment: item;
}
.how-work__item:not(:last-child)::before {
    width: 100%;
    height: 1px;
    position: absolute;
    z-index: 1;
    top: -82px;
    background-color: #FDD6BA;
    content: '';
} 

.how-work__item::after{
    width: 31px;
    height: 31px;
    position: absolute;
    z-index: 1;
    top:-98px;
    border: 2px solid #0E8784;
    background-color: #FEFCF7;
    border-radius: 50%;
    content: '';

} 
.how-work__item:not(:last-child){
    margin-right: 95px;
}
.how-work__item-heading {
    max-width: 255px;
    margin: 0;
    margin-top: 0;
    margin-bottom: 42px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
}

.how-work__item-heading::before{
    display: block;
    margin-bottom: 38px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    content: '0' counter(item);
}
.how-work__text {
    margin: 0;
}
.wrapper-footer{ 
     display: flex;
    align-items: center;
    
    padding-top: 24px;
    background-color: #2C343E;
    padding-bottom: 23px;
}
.footer-link:not(:last-child){
    margin-right: 103px;
    
}
.site-footer__link:not(:last-child){
    margin: 0px 10px;
    text-decoration: none;
    
}



@media only screen and (max-width: 808px){
    .container{
        max-width: 100%;
        width: 808px;
        margin: 0;
        padding: 0 20px;
    }
    .wrapper-header{
        padding: 40px;
    }
    .nav__list-item-link{
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }
    .header-link__img{

        width: 235px;
        height: 25px;
    }
    
    .section-heading{
        margin: 0;
    }
    .section-heading__content{
        
        width: 329px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
    }
    .section-heading__item{

        width: 398px;
        margin: 0;
        padding: 0;
        margin-bottom: 55px;

        
    }
    
    .our-section__heading{
        font-weight: 900;
        font-size: 96px;
        line-height: 72px;
    }
    .section-list__img{
        padding-right: 36px;
        
    }
    .section-heading__link{
        width: 217px;
    }
    .section-list{
        margin: 0 ;
        padding: 0;
        margin-top: -120px;
        flex-direction: column;
        
    }
    .section-list__item{
        max-width: 100%;
        width: 573px;
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        
        margin-bottom: 48px;
    }
    .section-list__item:not(:last-child){
        margin-right: auto;
    }
    .section-list__wraper{
        max-width: 100%;
        width: 282px;
        text-align: left;

    }
    .section-list__heading{
        
        margin-bottom: 24px;
        font-size: 24px;
        line-height: 32px; 
    }
    .section-list__text{
               
        font-size: 15px;
        line-height: 25px;
    }
    .section-wrapper{
        position: relative;
        margin: 0px;
        padding: 56px 0px 368px 0px;
        
        
    }
    .section-wrapper__heading{
        
        font-size: 32px;
        line-height: 48px;
    }
    .wrapper-list{
        position: absolute;
       flex-wrap: wrap;
        margin: auto;
        margin-bottom: -170px;
        margin-left:auto;
        margin-right:auto;
    
    }  
    
    .wrapper-list__item:not(:last-child){
        margin-right: 0;
        
        
        
    }
    .wrapper-list__item{
        
        max-width: 100%;
        width: 573px;
        display: flex;
        margin: 0;
        margin-bottom: 24px;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 41px 48px 41px 140px;
        
    }
    .wraperr{
        position: relative;
        width: 344px;
        margin-left: 56px;
        text-align: left;
    }
    .wrapper-list__heading::before{
        position: absolute;
        text-align: center;
        margin: auto 0px ;
        padding: 62px 0px;
        align-items: center;
        margin-left: -110px;
        background-repeat: no-repeat;
    }
    .how-work{
        margin: 0px 0px;
        margin-top: 434px;
    }
    .how-work__item{
        max-width: 100%;
        width: 223px;

    }
    .how-work__item:not(:last-child){
        margin-right: 10px;
    }
    .how-work__item-heading{
        
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 38px;
    }
    .how-work__text{
        font-size: 15px;
        line-height: 25px;

    }
    .wrapper-header{
        justify-content: space-between;
    }
    .site-footer{
        margin-top: 151px;
        margin-left: auto;
        
    }
    .wrapper-footer{
        display: block;
        margin: 0px;
        padding: 0;
        text-align: center;
    }
    .nav__list-item-link:not(:last-child){
        padding-right: 32px;
    }
    .footer-link:not(:last-child){
        padding: 0;
        margin: 0;
    }
    .footer-content{
        margin: 0;
        padding: 0;
        padding-top: 8px;
    }
    
    .nav{
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    
 }

@media only screen and (max-width: 1034px) {
    .our-section__heading{
        font-weight: 900;
        font-size: 96px;
        line-height: 72px;
    }
    
  }